﻿<!DOCTYPE html>
<html ng-app="App">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/bootstrap.min.css")
    @Scripts.Render("~/Scripts/libs/jquery-1.11.3.min.js")
    @Scripts.Render("~/Scripts/libs/bootstrap.min.js")
    @Scripts.Render("~/Scripts/libs/angular.min.js")
    @Scripts.Render("~/Scripts/app.js")
    @Scripts.Render("~/Scripts/items/js/Items.Controller.js")
</head>

<body>
    <div ng-controller="Items.Controller">
        <div ng-controller="item in items">
            <p>{{item.Name}}</p>
            <label>{{formatPrice(item)}}</label>
        </div>
    </div>
</body>
